@page "/descriptions"
@using System.Text.RegularExpressions;
@using HtmlAgilityPack
@using WebScraper.Data
@using WebScraper.Data.Plugins
@using System.Net

@inject IJSRuntime JSRuntime
@inject IToastService ToastService
@inject TraverseService Traverse
@inject HealthCheck Health
@inject SeoAnalyzer Analyzer

<ul class="navbar mr-auto navbar-dark bg-dark justify-content-center" style="margin-top: 30px; border-radius: 20px;">
    <li class="nav-item" style="list-style-type: none;">
        <NavLink class="nav-link" href="analysis" Match="NavLinkMatch.All" style="color: white;">
            <span class="oi oi-bar-chart" style="color: white;"></span> Home
        </NavLink>
    </li>
    <li class="nav-item" style="list-style-type: none;">
        <NavLink class="nav-link" href="graphs" Match="NavLinkMatch.All" style="color: white;">
            <span class="oi oi-bar-chart" style="color: white;"></span> Graphs
        </NavLink>
    </li>
    <li class="nav-item" style="list-style-type: none;">
        <NavLink class="nav-link" href="links" Match="NavLinkMatch.All" style="color: white;">
            <span class="oi oi-bar-chart" style="color: white;"></span> Link health
        </NavLink>
    </li>
    <li class="nav-item" style="list-style-type: none;">
        <NavLink class="nav-link" href="routes" Match="NavLinkMatch.All" style="color: white;">
            <span class="oi oi-bar-chart" style="color: white;"></span> Child routes
        </NavLink>
    </li>
    <li class="nav-item" style="list-style-type: none;">
        <NavLink class="nav-link" href="titles" Match="NavLinkMatch.All" style="color: white;">
            <span class="oi oi-bar-chart" style="color: white;"></span> Titles
        </NavLink>
    </li>
    <li class="nav-item" style="list-style-type: none;">
        <NavLink class="nav-link" href="descriptions" Match="NavLinkMatch.All" style="color: white;">
            <span class="oi oi-bar-chart" style="color: white;"></span> Descriptions
        </NavLink>
    </li>
    <li class="nav-item" style="list-style-type: none;">
        <NavLink class="nav-link" href="images" Match="NavLinkMatch.All" style="color: white;">
            <span class="oi oi-bar-chart" style="color: white;"></span> Images
        </NavLink>
    </li>
</ul>

<div class="row col-12">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header" style="background: #343A40; color: white;">DESCRIPTION HEALTH</div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-success">Healthy descriptions - @Analyzer.HealthyDescriptions.Count</li>
                    <li class="list-group-item list-group-item-danger">No descriptions - @Analyzer.EmptyDescriptions.Count</li>
                    <li class="list-group-item list-group-item-warning">Long descriptions - @Analyzer.LongDescriptions.Count</li>
                    <li class="list-group-item list-group-item-secondary">Short descriptions - @Analyzer.ShortDescriptions.Count</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="card arrow_box_left">
            <div class="card-body">
                @if (DescriptionHealth)
                {
                    <div id="table-wrapper">
                        <div id="table-scroll">
                            <table>
                                <thead>
                                <tr>
                                    <th>
                                        <span class="text">Type</span>
                                    </th>
                                    <th>
                                        <span class="text">Title</span>
                                    </th>
                                    <th>
                                        <span class="text">Url</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var x in Analyzer.AllDescriptions)
                                {
                                    <tr>
                                        <td>@x.Type</td>
                                        <td>@x.TitleDesc</td>
                                        <td>@x.Url</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                else
                {
                    <p>View your descriptions... bla bla...</p>
                    <button @onclick="@LoadDescriptionHealth" class="btn btn-dark">View</button>
                }
            </div>
        </div>
    </div>
</div>

@code{
    private bool DescriptionHealth { get; set; } = false;

    public void LoadDescriptionHealth()
    {
        DescriptionHealth = !DescriptionHealth;
    }

}

<style>
    .arrow_box_left {
        position: relative;
        background: #ffffff;
    }
    .arrow_box_left:after {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #ffffff;
        border-width: 30px;
        margin-top: -30px;
    }
    .arrow_box_right {
    	position: relative;
    	background: #ffffff;
    }
    .arrow_box_right:after {
    	left: 100%;
    	top: 50%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    	border-color: rgba(255, 255, 255, 0);
    	border-left-color: #ffffff;
    	border-width: 30px;
    	margin-top: -30px;
    }
    .card{
        margin: 40px;
    }
    #table-wrapper {
      position:relative;
    }
    #table-scroll {
      height:260px;
      overflow:auto;  
      margin-top:20px;
    }
    #table-wrapper table {
      width:90%;
    }
    #table-wrapper table * {
      background:white;
      color:black;
    }
    #table-wrapper table thead th .text {
      position:absolute;   
      top:-20px;
      z-index:2;
      height:20px;
    }
</style>