@page "/showengine"
@using System.Collections
@using System.Text.RegularExpressions;
@using HtmlAgilityPack
@using WebScraper.Data
@using System.Security.Policy
@using Microsoft.CodeAnalysis.CSharp
@using OpenQA.Selenium
@using WebScraper.Data.Plugins
@using WebScraper.Pages.Old
@inject IJSRuntime JSRuntime


<div class="container" style="width: 70%;">
    <h1 class="text-center" style="margin-bottom: 40px;">Show engine</h1>

    <button @onclick="@LoadHtml" class="btn btn-outline-primary" type="button">CLICK ME & WAIT</button>
    
    <div class="row mt-4 mb-4">
        <div class="col-sm-4">
            <h4>Analyzer results (docs/hrefs)</h4>
            @for(int i=0; i<analyzerResult.Count; i++)
            {
                <ul>
                    <li>@(i+1) href: @analyzerResult[i]</li>
                </ul>
            }
        </div>
        <form>
            <div class="form-group">
                <label for="KeywordID">Enter keywords</label>
                <input @bind="kljucnarijec" type="text" class="form-control" id="KeywordID" placeholder="e.g. Coffee">
            </div>
            <div class="form-group">
                <label for="ClientWeb">Enter URL</label>
                <input @bind="enteredurl" type="text" class="form-control" id="ClientWeb" placeholder="e.g. https://www.mywebpage.com">
            </div>
            <div class="dropdown">
                <button @onclick="@Show" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pick Location
                </button>
                <div hidden="@IsShow" >
                    <div>
                        <!-- Dropdown menu links -->
                        <button @onclick="settous" @onclick:preventDefault class="dropdown-item">US</button>
                        <button @onclick="settohr" @onclick:preventDefault class="dropdown-item">HR</button>
                        <button @onclick="settouk" @onclick:preventDefault class="dropdown-item">UK</button>
                    </div>
                </div>
            </div>
            <div class="input-group">
                <button @onclick="@LoadHtml" type="button" class="btn btn-secondary">
                    Click me
                </button>
            </div>
        </form>
        @* Normalni rezultati *@
        <div class="row">
            <div class="col-sm-4">
                <h1>Regular</h1>
                <table>
                    <thead>
                    <tr>
                        <th>Keyword</th>
                        <th>Position</th>
                        <th>URL</th>
                        <th>Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var r in _kwfinderResult)
                    {
                        <tr>
                            <td>@r.Keyword</td>
                            <td>@r.Position</td>
                            <td>@r.Url</td>
                            <td>@r.Date</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
    </div>
        @* Pronadena stranica/e *@
        <div class="row mt-4 mb-4">
            <div class="col-sm-4">
                <h1>Pronadene stranice</h1>
                <table>
                    <thead>
                    <tr>
                        <th>Position</th>
                        <th>URL</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var r in _found)
                    {
                        <tr>
                            <td>@r.Position</td>
                            <td>@r.Url</td>
                            <td>@r.Date</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        @* Reklame *@
        <div class="row mt-4 mb-4">
            <div class="col-sm-4">
                <h1>Reklame</h1>
                <table>
                    <thead>
                    <tr>
                        <th>URL</th>
                        <th>Domain</th>
                        <th>Subject</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var r in _ads)
                    {
                        <tr>
                            <td>@r.Url</td>
                            <td>@r.Domain</td>
                            <td>@r.Subject</td>
                            <td>@r.Description</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col-sm-4">
                <h4>Optimizer result (docs)</h4>
                @for (int i = 0; i < optimizerResult.Count; i++)
                {
                    <ul>
                        <li>@(i + 1). html page length: @optimizerResult[i]</li>
                    </ul>
                }
            </div>
            </div>
    </div>
</div>


@code{
    private List<string> analyzerResult = new List<string>();
    private List<int> optimizerResult = new List<int>();
    private List<Result> _kwfinderResult = new List<Result>();
    private List<Found> _found = new List<Found>();
    private List<Advert> _ads = new List<Advert>();
    private bool IsShow { get; set; } = false;
    private string kljucnarijec;
    private string lokacija;
    private string enteredurl;

    //da..
    public void settous()
    {
        lokacija = "us";
        Console.WriteLine(lokacija);
    }
    public void settohr()
    {
        lokacija = "hr";
        Console.WriteLine(lokacija);
    }
    public void settouk()
    {
        lokacija = "co.uk";
        Console.WriteLine(lokacija);
    }
    
    private void Show()
    {
        IsShow = !IsShow;
    }

    protected async Task LoadHtml()
    {
        var remoteUserAgent = await JSRuntime.InvokeAsync<string>("getUserAgent");;
        GoogleKeywordTracker kwfinder = new GoogleKeywordTracker();
        _found = kwfinder.Pronadeni;
        _ads = kwfinder.Reklame;
        _kwfinderResult = await kwfinder.TrackSomething(kljucnarijec, remoteUserAgent, lokacija, enteredurl);
        StateHasChanged();
        
        SeoAnalyzer analyzer = new SeoAnalyzer();
        Optimizer optimizer = new Optimizer();
        await analyzer.Analyze("https://rentberry.com/apartments/s/new-york-ny");
        analyzerResult = analyzer.Results;
        StateHasChanged();
        
        //TrackSomething(string keyword, string userAgent, string location)

        
        //kwfinderResult = kwfinder.TempResults;
        //StateHasChanged();

        //await optimizer.Optimize("args");
        //optimizerResult = optimizer.TempResults;
        //StateHasChanged();
    }
}
